<li>
    <button class = "change-devoured mb-1 mr-3 burger-button" data-id = "{{id}}" data-devoured = "{{devoured}}">
        {{#if devoured}}order it{{else}}eat it{{/if}}
    </button>
    {{burger_name}}
     {{!-- ordered by 
    {{customer_name}} --}}
    <button class = "delete burger-button ml-3" data-id ="{{id}}">x</button>
</li>